.ourstimage{
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px){
    .sushi{
        display: none;
    }
}
.about_carousel{
    max-height: 500px;
    object-fit: contain;
    margin: 20px;
}